<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <title></title>
</head>

<body>
    <h1 style="display: inline;"></h1>
    <div id="app"></div>
</body>
<script src="../public/js/APlayer.min.js"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({ tex2jax: { inlineMath: [ ['$','$'], ["\\(","\\)"] ], displayMath: [ ['$$','$$'], ["\\[","\\]"] ] } });
</script>
<script src="https://cdn.jsdelivr.net/npm/meting@2.0.1/dist/Meting.min.js" async></script>
<script src="//cdn.bootcss.com/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" async></script>
<script src="https://cdn.jsdelivr.net/gh/yremp/yremp-js@1.5/sakura.js" async></script>
<script src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js" defer></script>

</html>